.div {
  width: 50%;
  height: 100%;
  list-style: none;
  margin: 10px;
  position: relative;
  text-align: left;
  font-family: "Dosis", sans-serif;
}

.remove-button {
  position: absolute;
  right: -200px;
  bottom: 30px;
  border-radius: 5px;
}

.h2 {
  font-size: 24px;
}
